<div>
<table border=2>
<tr>
    <th> Id </th><th> Product Name </th><th> Product Price </th><th>DELETE/EDIT</th>
</tr>
<tr *ngFor="let ob of parr">
    <td>{{ob.pid}}</td>
    <td>{{ob.pname}}</td>
    <td>{{ob.price}}</td>
    <td><a (click)="deleteProduct(ob)">Delete</a>/
        <a (click)=" updateProduct(ob)">Edit</a></td>
</tr>
</table><br>
    <div>
        <button type="button" name="btn" (click)="displayForm()">Add Product</button>
    </div>{{this.flag}}
    <div *ngIf="flag" >
            <pform  [upprod]="pob" (myevent)="flag=$event"></pform>
    </div>
</div>